.swiper-container-gallery {
    width: 450px;
    height: 425px;
    overflow: hidden;
  }
  .img-gallery-index {
      width: 450px;
      object-fit: cover;
      background-color: black;
  }
  .swiper-wrapper-gallery {
    /* Estilos para el contenedor de diapositivas */
  }
  
  .swiper-slide-gallery {
    position: relative;
    overflow: hidden;
    
  }
  
  .swiper-slide-gallery h3,.swiper-slide-gallery div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3vw;
  }
  
  .swiper-slide-gallery .square {
      width: 100%;
      
     
  }
  
  .square div {
      border: white 3px solid;
      width: 300px;
      height: 300px;
  }