{% load static %}

{% block styles %}
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
        .p-valoracion{
            height:60px;
        }
    </style>
{% endblock styles %}

<h2 class="display-4 text-uppercase title-shadow fw-bolder">Nuestros clientes</h2>

<div class="slide-container swiper w-100 px-4 fondo rounded-5 p-5">
    <div class="slide-content overflow-hidden">
        <div class="card-wrapper swiper-wrapper">
           
            {% for review in review_list %}
                <div class="card swiper-slide">
                    <div class="card-content px-2">
                        <p>{{ review.name }}</p>
                        <p class="p-valoracion">Valoracion: {% for i in "x"|ljust:review.rating %}⭐{% endfor %}</p>
                        <p>{{ review.review|truncatechars:80 }}</p>
                    </div>
                </div>
            {% endfor %}
 
        </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>

<a href="{% url 'reviews:review_create' %}" class="lead">Deja tu comentario aquí!!!✨</a>




{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".slide-content", {
            slidesPerView: 3,
            spaceBetween: 25,
            loop: true,
            centerSlide: 'true',
            fade:'true',
            grabCursor: 'true',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dinamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
    
            breakpoints:{
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 3,
                }
    
            }
        });
    </script>
{% endblock scripts %}