<footer class="container-fluid text-white fs-5 shadow-secondary">
    <div class="lead d-flex flex-wrap justify-content-sm-between justify-content-center py-3 my-2 mx-3">
        <div class="col-md-4 d-flex align-items-center">
            <p class="mb-3 mb-md-0 text-white text-shadow">&copy; 2024 Nobodies Tattoo</p>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="https://www.facebook.com/Nobodies.ttt" class="btn btn-outline-primary" target="_blank">
                    <i class="fab fa-facebook-f fs-4"></i>
                </a>
            </li>
            <li class="ms-3"><a href="https://www.instagram.com/nobodies_tattoo/" class="btn btn-outline-secondary" target="_blank">
                    <i class="fab fa-instagram fs-4"></i>
                </a>
            </li>
            <li class="ms-3"><a href="https://wa.me/542494271876" class="btn btn-outline-success" target="_blank">
                    <i class="fab fa-whatsapp fs-4"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>