{% load static %}

<footer class="container-fluid text-white shadow-secondary">
    <div class="lead d-flex flex-wrap justify-content-sm-between justify-content-center py-3 my-2 mx-3">
        <div class="col-md-4 d-flex align-items-center">
            <p class="mb-3 mb-md-0 text-white text-shadow fs-5 p-footer">&copy; 2024 Nobodies Tattoo</p>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="https://www.instagram.com/nobodies_tattoo/" class=" " target="_blank">
                    <img src="{% static 'img/instagram.png' %}" alt="Instagram" class="shadow-pink rounded-3" style="height: 40px">
                </a>
            </li>
            <li class="ms-3"><a href="https://www.facebook.com/Nobodies.ttt" class="" target="_blank">
                <img src="{% static 'img/facebook.png' %}" alt="Facebook" class="shadow-primary rounded-3" style="height: 40px">
            </a>
            </li>
            <li class="ms-3"><a href="https://wa.me/542494271876" class="" target="_blank">
                <img src="{% static 'img/Whatsapp.png' %}" alt="Whatsapp"class="shadow-success rounded-3" style="height: 40px">                </a>
            </li>
        </ul>
    </div>
</footer>