<div class="container-fluid py-3">
    <div class="lead d-flex justify-content-between mx-3 pt-2">
        <div>
            <p class="p-footer pt-1">&copy; 2024 Nobodies Tattoo</p>
        </div>
    
        <ul class=" justify-content-end list-unstyled d-flex">
            <li class="ms-3 scale"><a href="https://www.instagram.com/nobodies_tattoo/" class="icon-social" target="_blank">
                <i class="fab fa-instagram" style="font-size: 40px;"></i>
            </a>
            </li>
            <li class="ms-3 scale"><a href="https://www.facebook.com/Nobodies.ttt" class="icon-social" target="_blank">
                <i class="fab fa-facebook" style="font-size: 40px;"></i>
            </a>
            </li>
            <li class="ms-3 scale"><a href="https://wa.me/542494271876" class="icon-social" target="_blank">
                <i class="fab fa-whatsapp" style="font-size: 40px;"></i>
            </a>
            </li>
        </ul>
    </div>
</div>