<style>
    .swiper-container {
      width: 500px;
      height: 400px;
    }
    .img-gallery-index {
        width: 500px;
        height: 400px;
        object-fit: contain;
        background-color: black;
    }
    .swiper-wrapper {
      /* Estilos para el contenedor de diapositivas */
    }
    
    .swiper-slide {
      position: relative;
    }
    
    .swiper-slide h3,.swiper-slide div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 3vw;
    }
    
    .swiper-slide .square {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .square div {
        border: white 3px solid;
        width: 300px;
        height: 300px;
    }
    
    </style>
    <section id="galeria" class="container-fluid p-md-5 p-2">
        <h2 class="display-4 text-uppercase title-shadow fw-bolder">Galerias</h2>
        <div class="row align-items-center justify-content-center pt-4"> 
            <div class="swiper-container swiper-container-gallery slider1 col-md-6 col-12">
                <div class="swiper-wrapper swiper-wrapper-gallery">
                    {% for tattoo in tattoo_list %}
                    <div class="swiper-slide swiper-slide-gallery">
                        <h3>TATUAJES</h3>
                        <div class="square"><div></div></div>
                        <img  class="img-gallery-index" src="{{ tattoo.image.url }}" alt="{{tattoo.titte}}">
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
            
            <div class="swiper-container slider2 col-md-6 col-12">
                <div class="swiper-wrapper">
                    {% for design in design_list %}
                    <div class="swiper-slide">
                            <h3>DISEÑOS</h3>
                            <div class="square"><div></div></div>
                            <img class="img-gallery-index" src="{{ design.image.url }}" alt="{{design.titte}}">
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </section>
    
    <script>
        var slider1 = new Swiper ('.slider1', {
            effect: 'fade',
            loop:true,
            autoplay: {
                delay: 3000, 
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dinamicBullets: true,
            },
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            scrollbar: {
            el: '.swiper-scrollbar',
            },
        });
        var slider2 = new Swiper ('.slider2', {
            effect: 'fade',
            loop:true,
            autoplay: {
                delay: 3000, 
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dinamicBullets: true,
            },
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            scrollbar: {
            el: '.swiper-scrollbar',
            },
        });
    
        // Controlar el cambio de diapositivas con setTimeout
        function moveSlider1() {
        slider1.slideNext();
        setTimeout(moveSlider1, 3000);
        }
    
        function moveSlider2() {
        slider2.slideNext();
        setTimeout(moveSlider2, 3000);
        }
    
        // Iniciar el movimiento de los sliders
        setTimeout(moveSlider1, 3000);
        setTimeout(moveSlider2, 1500);
    </script>