<nav class="order-last" aria-label="...">
    <ul class="pagination">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ num }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>

  <style>
    .pagination {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        
    }
    .page-link{
      color:rgb(220, 101, 121);

    }
    .page-link:hover{
      color:rgb(230, 106, 126);
    }
    .page-item.active {
      color:rgb(213, 86, 107);
    }
    .active{
      --bs-pagination-active-bg: rgb(176, 65, 84);
      --bs-pagination-active-border-color: rgb(176, 65, 84);

    }
</style>