{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block header %}
    <header id="blog" class="cover header-2">
        <div class="fondo-header">
            <div class="px-5 d-flex justify-content-md-start justify-content-center align-items-end h-75 revelar izquierda">
                <div class="col-lg-8 text-white">
                    <h1 class="display-2 fw-bolder title-shadow text-center text-md-start">Nobodies Tattoo</h1>
                    <p class="lead fw-bolder text-shadow text-center text-md-start fs-3">Blog de tatuaje</p>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}

<section class="container-fluid p-md-5 p-2">
        {% include 'components/messages.html' %}
        <div class="rounded-5 p-sm-5 p-4 mb-5 mb-md-0 row fondo">

            <div class="col-12 col-lg-6 order-lg-2">
                <div class="card mb-4 revelar">
                    <div class="card-header fw-semibold">Buscar publicaciones</div>
                    <div class="card-body">   
                        <form class="input-group" action="{% url 'blog:post_list' %}" method="get">
                            <input name="consult" class="form-control" type="text" placeholder="Buscar publicaciones..." />
                            <button class="btn btn-info " id="button-search" type="submit">Buscar</button>
                        </form>   
                    </div>
                </div>
               
                <div class="card mb-4 revelar">
                    <div class="card-header fw-semibold">¡Descubre el Arte en la Piel!</div>
                    <div class="card-body pt-4 pb-5">
                        <p><strong>Nobodies Tattoo</strong> es un espacio donde la creatividad y la expresión personal se fusionan para crear auténticas obras maestras en la piel. Aquí encontrarás todo lo que necesitas saber sobre tatuajes, desde las últimas tendencias hasta consejos para el cuidado posterior. Mantente al día con las últimas novedades en el mundo del tatuaje y no te pierdas las promociones especiales. Entérate aquí de descuentos en diseños seleccionados y de eventos exclusivos para clientes. ¡Esperamos verte pronto en <strong>Nobodies Tattoo</strong>! 🌟🔥🖤</p>
                        <div>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'blog:post_create' %}" class="btn btn-info mt-2"> Crear publicación</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
           
            {% if object_list %}
                {% for post in object_list %}               

            
                        <div class="col-12 col-lg-6 mb-4 order-{{forloop.counter}}">

                            <div class="card text-start rounded-1 revelar" style=" border:none;">
                                {% if post.file %} 
                                    {% with file_type=post.file|determine_file_type %}
                                        {% if file_type == 'image' %}
                                            <img src="{{ post.file.url }}" class="card-img-top object-fit-cover post-list-image" alt="{{ post.title }}"/>
                                        {% elif file_type == 'video' %}
                                            <video src="{{ post.file.url }}" class="card-img-top post-list-image" controls></video>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                                <div class="card-body">
                                    <p class="text-secondary">
                                        {{ post.created_on }} por <span class="fw-semibold">{{ post.user.username}}.</span>
                                    </p>
                                    <h4>{{post.title}}</h4>
                                    <p class="card-text">
                                        {{post.body|truncatechars:200}}
                                    </p>
                                <div>
                                    <a class="text-uppercase fw-semibold text-info" href="{% url 'blog:post_detail' post.id %}">Leer publicación ></a>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                {% endfor %}
                {% else %}
                <div class="col-12 col-lg-6 mb-4" >
                    
                    <div class="card revelar">
                        <div class="card-body py-4">
                            <h4 class="card-text fs-5 text-secondary">No hay Resultados.</h3>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% include 'components/pagination.html' %}
                </div>
            </section>
     

            {% endblock content %}