{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <section class="container-fluid p-md-5 p-2 pt-5 h-section">
        

        <div class="d-flex justify-content-center align-items-center mt-5  pt-4">
            <div class="col-12 rounded-5 p-sm-5 p-4 fondo">


                <article class="blog-post container py-4 border-bottom">
                    <div class="row">
                        
                        <div class="col-12 col-lg-5 ">
                            {% with file_type=object.file|determine_file_type %}
                                {% if file_type == 'image' %}
                                    <img src="{{ object.file.url}}" alt="{{object.title}}" class="img-fluid "/>
                                {% elif file_type == 'video' %}
                                    <video src="{{ object.file.url}}"  class="w-100" controls></video>
                                {% endif %}                                
                            {% endwith %}
                        </div>  
                        
                        <div class="col-12 col-lg-7">
                            <h2 class="link-body-emphasis mb-1 border-bottom">{{object.title}}</h2>
                            <p class="text-secondary">{{ object.created_on }} por {{ object.user.username}} </p>
                            <p class="text-center row">{{object.body}}</p>
                            <div class="d-flex gap-2 justify-content-center">
                                {% if post.user == request.user %}
                                <a href="{% url 'blog:post_update' object.id %}" class="btn btn-success">
                                    <i class="fas fa-edit"></i> 
                                </a>
                                <a href="{% url 'blog:post_delete' object.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ object.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>          
                    </div>
                </article>
                {% url 'blog:post_list' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>

    </section>
    <!-- Modal confirm delete -->
    <div class="modal fade" id="deleteModal{{ object.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ object.id }}" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel{{ object.id }}">Eliminar publicación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ¿Confirmas ELIMINAR esta publicación"?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'blog:post_delete' object.id %}" class="btn btn-danger">Eliminar</a>
        </div>
        </div>
        </div>
    </div>
{% endblock content %}