{% extends 'base.html' %}

{% block content %}
    <section id="galeria" class="container-fluid p-md-5 p-2">
        <h1 class="display-4 text-uppercase title-shadow fw-bolder pt-5">NOBODIES TATTOO</h2>

        
        <div> 
            <h2 class="fw-bolder mt-5 text-uppercase">Disponibles</h2>
        
            <div class="d-flex flex-wrap gap-3 justify-content-center rounded-5 p-sm-5 p-4 mb-5 mb-md-0 fondo">
                {% for image in object_list %}
                    {% if image.available %}
                        <div class="">
                            <img src="{{ image.image.url}}" alt="{{ image.title}}" style="width: 300px;">
                        </div>   
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div> 
            <hr>
            <div class="d-flex flex-wrap gap-3 justify-content-center rounded-5 p-sm-5 p-4 mb-5 mb-md-0 fondo">
                {% for image in object_list %}
                    {% if not image.available %}
                        <div class="">
                            <img src="{{ image.image.url}}" alt="{{ image.title}}" style="width: 300px;">
                        </div>   
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="d-grid gap-3 mt-4">
            <a href="{% url 'portfolio:design_gallery' %}" class="btn btn-dark"> Ir a Diseños</a>
        </div>
        {% url 'portfolio:index' as url %}
        {% include 'components/index_back.html' with link=url %}
    </section>

    
{% endblock content %}