{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header id="inicio">
        <div class="fondo-header">
            <div class="px-5 d-flex justify-content-md-start justify-content-center align-items-end h-75">
                <div class="col-lg-8 ">
                    <h1 class="display-4 fw-bolder title-shadow text-center text-md-start">Nobodies Tattoo</h1>
                    <p class="lead fw-bolder text-shadow text-center text-md-start">Neotradicional / Anime</p>
                    <div class="d-flex gap-2 justify-content-md-start justify-content-center">
                        <a type="button" href="#portfolio" class="btn btn-outline-info btn-lg px-4 gap-3">Galeria</a>
                        <a type="button" href="#contacto" class="btn btn-outline-primary btn-lg px-4">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="sobre-mi" class="container-fluid p-md-5 p-2">
        <div class="row align-items-center justify-content-center pt-4">
            <div class="col-md-7 col-12">
                <h2 class="display-4 text-uppercase title-shadow fw-bolder">Sobre mi</h2>
                <div class="rounded-5 p-sm-5 p-4 mb-5 mb-md-0 fondo">
                    <p class="lead p-sobre-mi pb-2">
                        ¡Hola! Soy Ayelén, una tatuadora apasionada con 9 años de experiencia en la hermosa ciudad de Tandil. Me especializo en los estilos de tatuaje neotradicional y anime, creando diseños personalizados para que obtengas una pieza única. ¿Estás listo para tatuarte conmigo? ¡Contáctame y juntos crearemos un tatuaje que te acompañará toda la vida. ¡Hagamos magia en la piel! ✨🖤
                    </p>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="https://github.com/MiguelRizzi" class="btn btn-outline-success btn-lg px-4 shadow-success" target="_blank">
                        <i class="bi bi-whatsapp fs-4"></i> Whatsapp
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-12 rounded border-dark mb-5 mb-md-0 div-foto p-sm-0 p-4">
                <img class="w-90 w-md-100 img-thumbnail foto shadow-secondary" src="{% static 'img/tatuando.jpg' %}" alt="Foto Tatuando">
            </div>
        </div>
    </section>

    <section id="contacto" class="containerfluid p-md-5 p-2">
        <h2 class="display-4 text-uppercase title-shadow pt-4 fw-bolder">Contacto</h2>
        <div class="row align-items-center justify-content-center mb-5">
            <form 
                action="https://formspree.io/f/xeqbpqqa"
                method="POST"
                class="col-md-9 col-lg-7 col-12 rounded-5 p-sm-5 p-4 fondo"
            >
                <div class="row mb-3">
                    <div class="col-md mb-3 mb-md-0">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-info" id="nombre" placeholder="Nombre" name="nombre">
                            <label for="nombre">Nombre</label>
                        </div>
                    </div> 
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control shadow-info" id="apellido" placeholder="Apellido" name="apellido">
                            <label for="apellido">Apellido</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control shadow-info" id="email" placeholder="name@example.com" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control shadow-info" id="email" placeholder="Telefono" name="telefono">
                    <label for="telefono">Telefono</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control shadow-info" id="mensaje" placeholder="Mensaje" name="mensaje"></textarea>
                    <label for="mensaje">Mensaje</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-info shadow-info">Enviar</button>
                </div>
            </form>
        </div>
        <p class="my-form-status"></p>
    </section>
{% endblock content %}
