{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock styles %}

{% block header %}
    <header id="inicio">
        <div class="fondo-header">
            <div class="px-5 d-flex justify-content-md-start justify-content-center align-items-end h-75">
                <div class="col-lg-8 ">
                    <h1 class="display-4 fw-bolder title-shadow text-center text-md-start">Nobodies Tattoo</h1>
                    <p class="lead fw-bolder text-shadow text-center text-md-start">Neotradicional / Anime</p>
                    <div class="d-flex gap-2 justify-content-md-start justify-content-center">
                        <a type="button" href="#portfolio" class="btn btn-outline-info btn-lg px-4 gap-3">Galeria</a>
                        <a type="button" href="#contacto" class="btn btn-outline-primary btn-lg px-4">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="sobre-mi" class="container-fluid p-md-5 p-2">
        {% include 'components/messages.html' %}
        <div class="row align-items-center justify-content-center pt-4">
            <div class="col-md-7 col-12">
                <h2 class="display-4 text-uppercase title-shadow fw-bolder">Sobre mi</h2>
                <div class="rounded-5 p-sm-5 p-4 mb-5 mb-md-0 fondo">
                    <p class="lead p-sobre-mi pb-2">
                        ¡Hola! Soy Ayelén, una tatuadora apasionada con 9 años de experiencia en la hermosa ciudad de Tandil. Me especializo en los estilos de tatuaje neotradicional y anime, creando diseños personalizados para que obtengas una pieza única. ¿Estás listo para tatuarte conmigo? ¡Contáctame y juntos crearemos un tatuaje que te acompañará toda la vida. ¡Hagamos magia en la piel! ✨🖤
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-12 rounded border-dark mb-5 mb-md-0 div-foto p-sm-0 p-4">
                <img class="w-90 w-md-100 img-thumbnail foto shadow-secondary" src="{% static 'img/tatuando.jpg' %}" alt="Foto Tatuando">
            </div>
        </div>
    </section>

    <section id="contacto" class="container-fluid p-md-5 p-2">
        <h2 class="display-4 text-uppercase title-shadow fw-bolder">Nuestros clientes</h2>

        <div class="slide-container swiper w-100 px-4 fondo rounded-5 p-5">
            <div class="slide-content overflow-hidden">
                <div class="card-wrapper swiper-wrapper">
                
                    {% for review in review_list %}
                        <div class="card swiper-slide">
                            <div class="card-content px-2">
                                <p>{{ review.name }}</p>
                                <p class="p-valoracion">Valoracion: {% for i in "x"|ljust:review.rating %}⭐{% endfor %}</p>
                                <p>{{ review.review|truncatechars:80 }}</p>
                            </div>
                        </div>
                    {% endfor %}
        
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>

        <a href="{% url 'reviews:review_create' %}" class="lead">Deja tu comentario aquí!!!✨</a>
    </section>
    
    <section id="contacto" class="container-fluid p-md-5 p-2">
        <h2 class="display-4 text-uppercase title-shadow pt-4 fw-bolder">Contacto</h2>
     
        <div class="row align-items-center justify-content-center mb-5">
            <form method="post" class="col-md-9 col-lg-7 col-12 p-4 fondo rounded-5 p-5">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-floating mb-3 mx-md-2 mx-lg-3">
                        {{ field|add_class:"form-control" }}
                        {{ field.label_tag }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
        
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="d-grid gap-3 mt-5">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt fa-2x mb-2"></i>
                            <h4 class="text-uppercase m-0">Dirección</h4>
                            <hr class="my-4 mx-auto" />
                            <a href="https://www.google.com/maps/place/Ugalde+2159,+Tandil,+Provincia+de+Buenos+Aires/@-37.3001473,-59.1262451,17z/data=!3m1!4b1!4m5!3m4!1s0x9591201804b28063:0x884ad7fac9b10c79!8m2!3d-37.3001473!4d-59.1262451?entry=ttu" target="_blank">
                                Ugalde 2159 - Tandil
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope fa-2x mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4 mx-auto" />
                            <a href="mailto:nobodies.tattootandil@gmail.com" target="_blank">
                                nobodies.tattootandil@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fab fa-whatsapp fa-2x mb-2"></i>
                            <h4 class="text-uppercase m-0">Whatsapp</h4>
                            <hr class="my-4 mx-auto" />
                            <a href="https://wa.me/542494271876" target="_blank">
                                +54 9 2494 271876
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div><iframe id="map-canvas" class="map_part" width="100%"  height="300"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Tandil Ugalde 2159&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">Powered by <a href="https://www.googlemapsgenerator.com">html embed google maps</a> and <a href="https://skipboregler.com/">skip bo regler</a></iframe></div>
    
{% endblock content %}

{% block scripts %}
    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".slide-content", {
            slidesPerView: 3,
            spaceBetween: 25,
            loop: true,
            centerSlide: 'true',
            fade:'true',
            grabCursor: 'true',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dinamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
    
            breakpoints:{
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 3,
                }
    
            }
        });
    </script>
{% endblock scripts %}