{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="container-fluid p-md-5 p-2 pt-5 h-section text-center">
        <h2 class="display-5 mb-4 mt-5 fw-bolder text-uppercase pt-4">Administración</h2>
        
        {% include 'components/messages.html' %}

        

        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-12 p-sm-5 p-4 fondo rounded-5">
                <div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Tatuajes</h3>
                            <p class="card-text">Administrar tatuajes.</p>
                            <a href="{% url 'portfolio:tattoo_create' %}" class="btn btn-success">Agregar </a><br>
                            <a href="{% url 'portfolio:tattoo_list' %}" class="btn btn-info">Ver todos</a> 
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Diseños</h3>
                            <p class="card-text">Administrar diseños.</p>
                            <a href="{% url 'portfolio:design_create' %}" class="btn btn-success">Agregar </a><br>
                            <a href="{% url 'portfolio:design_list' %}" class="btn btn-info">Ver todos</a> 
                        </div>
                      </div>
                    </div>
                  </div>
                    
                </div>
                {% url 'portfolio:index' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>
    </section>
{% endblock content %}