{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid p-md-5 p-2 pt-5 h-section">
        <h2 class="fw-bolder display-5 mb-4 mt-5 text-uppercase pt-4">Leer Mensaje</h2>

        {% include 'components/messages.html' %}

        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-12 rounded-5 p-sm-5 p-4 fondo">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre:</strong> {{ object.name }}</li>
                    <li class="list-group-item"><strong>Fecha:</strong> {{ object.date }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
                    <li class="list-group-item"><strong>Telefono:</strong> {{ object.phone }}</li>
                    <li class="list-group-item"><strong>Mensaje:</strong> {{ object.message }}</li>
                    {% if object.is_read %}
                    <li class="list-group-item"><strong>Leido:</strong> <i class="fa fa-check text-success"></i></li>
                        {% else %}
                    <li class="list-group-item"><strong>Leido:</strong> <i class="fa fa-times text-danger"></i></li>
                    {% endif %}
                    <li class="list-group-item">
                        <a href="{% url 'portfolio:message_update' object.id %}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal{{ object.id }}">
                            <i class="fas fa-edit"></i> 
                        </a>
                        <a href="{% url 'portfolio:message_delete' object.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ object.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                </ul>
                {% url 'portfolio:message_list' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>
    </section>    
    
    <!-- Modal confirm update -->
    <div class="modal fade" id="updateModal{{ object.id }}" tabindex="-1" aria-labelledby="updateModalLabel{{ object.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="updateModalLabel{{ object.id }}">Marcar mensaje</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if object.is_read %}
                    ¿Confirmas marcar como NO LEIDO?
                {% else %}
                    ¿Confirmas marcar como LEIDO?
                {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                {% if object.aproved %}
                    <a href="{% url 'portfolio:message_update' object.id %}" class="btn btn-danger">Aceptar</a>
                {% else %}
                    <a href="{% url 'portfolio:message_update' object.id %}" class="btn btn-success">Aceptar</a>
                {% endif %}
          </div>
          </div>
        </div>
    </div>
    <!-- Modal confirm delete -->
    <div class="modal fade" id="deleteModal{{ object.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ review.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel{{ object.id }}">Eliminar mensaje</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Confirmas ELIMINAR el mensaje de "{{ object.name }}"?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'portfolio:message_delete' object.id %}" class="btn btn-danger">Eliminar</a>
        </div>
        </div>
      </div>
    </div>
{% endblock content %}