{% extends 'components/list.html' %}

{% block title_2 %}Bandeja de Entrada{% endblock %}
{% block search %}
   <!-- Sirve para buscar mensajes. Se pasa a la variable consulta de la vista. -->
   <div class="py-lg-4 py-3">
    <form action="{% url 'portfolio:message_list' %}" method="get">
        <input name="consult" type="text" placeholder="Buscar...">
    </form>
</div>

{% endblock search %}
       
{% block table_header %}
    <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Leido</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for message in object_list %}
        <tr>
            <td>{{ message.name }}</td>
            <td>{{ message.date|date:"d M Y" }}</td>
            {% if message.is_read %}
                <td class="text-success"><i class="fa fa-check"></i></td>
            {% else %}
                <td class="text-danger"><i class="fa fa-times"></i></td>
            {% endif %}
            <td>
                <a href="{% url 'portfolio:message_detail' message.id %}" class="btn btn-info">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'portfolio:message_update' message.id %}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal{{ message.id }}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'portfolio:message_delete' message.id %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ message.id }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>

        <!-- Modal confirm update -->
        <div class="modal fade" id="updateModal{{ message.id }}" tabindex="-1" aria-labelledby="updateModalLabel{{ message.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="updateModalLabel{{ message.id }}">Marcar mensaje</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if message.is_read %}
                    ¿Confirmas marcar como NO LEIDO?
                    {% else %}
                        ¿Confirmas marcar como LEIDO?
                    {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    {% if message.is_read %}
                        <a href="{% url 'portfolio:message_update' message.id %}" class="btn btn-danger">Aceptar</a>
                    {% else %}
                        <a href="{% url 'portfolio:message_update' message.id %}" class="btn btn-success">Aceptar</a>
                    {% endif %}
              </div>
              </div>
            </div>
        </div>
        <!-- Modal confirm delete -->
        <div class="modal fade" id="deleteModal{{ message.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ message.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel{{ message.id }}">Eliminar mensaje</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Confirmas ELIMINAR el mensaje de "{{ message.name }}"?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'portfolio:message_delete' message.id %}" class="btn btn-danger">Eliminar</a>
            </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock table_body %}

{% block pagination %}
    {% url 'portfolio:management' as url %}
    {% include 'components/index_back.html' with link=url %}    
{% endblock pagination %}