{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid p-md-5 p-2">
        <h2 class="fw-bolder display-5 mb-4 mt-5 text-uppercase">Leer Mensaje</h2>

        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-12 rounded-5 p-sm-5 p-4 fondo">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre:</strong> {{ object.name }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
                    <li class="list-group-item"><strong>Telefono:</strong> {{ object.phone }}</li>
                    <li class="list-group-item"><strong>MEnsaje:</strong> {{ object.message }}</li>
                    <li class="list-group-item"><strong>Nombre:</strong> {{ object.date }}</li>
                    {% if object.is_read %}
                    <li class="list-group-item"><strong>Leido:</strong> <i class="fa fa-check text-success"></i></li>
                        {% else %}
                    <li class="list-group-item"><strong>Leido:</strong> <i class="fa fa-times text-danger"></i></li>
                    {% endif %}
                </ul>
                {% url 'portfolio:message_list' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>
    </section>
{% endblock content %}