{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid p-md-5 p-2">
        <h2 class="fw-bolder display-5 mb-4 mt-5 text-uppercase">¿Confirmas <span class="text-danger">ELIMINAR</span> el tatuaje "{{ object }}"?</h2>
        
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-12 p-sm-5 p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-3">
                        <button type="submit" class="btn btn-danger">Confirmar</button>
                    </div>
                </form>
                
                {% url 'portfolio:tattoo_list' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>
    </section>
{% endblock %}