{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid p-md-5 p-2 pt-5">
        <h2 class="fw-bolder display-5 mb-4 mt-5 text-uppercase">Avatar</h2>
        {% include 'components/messages.html' %}

        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-7 col-12 rounded-5 p-sm-5 p-4 fondo">
                <ul class="list-group">
                    {% if object.image %}
                        <li class="list-group-item">
                            <strong>Avatar:</strong><br>
                            <img src="{{ object.image.url }}" alt="Avatar" class="mt-3" style="height: 400px; width: 400px; object-fit: cover;">
                        </li>
                    {% else %}
                        <li class="list-group-item"><strong>Avatar:</strong> Sin imagen</li>
                    {% endif %}
                    <li class="list-group-item"><strong>Usuario:</strong> {{ object.user }}</li>
                    <li class="list-group-item">
                        <a href="{% url 'users:avatar_update' object.id %}" class="btn btn-success">
                            <i class="fas fa-edit"></i> 
                        </a>
                        <a href="{% url 'users:avatar_delete' object.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ object.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                </ul>
                {% url 'portfolio:index' as url %}
                {% include 'components/index_back.html' with link=url %}
            </div>
        </div>
    </section>

    <!-- Modal confirm delete -->
    <div class="modal fade" id="deleteModal{{ object.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ object.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel{{ object.id }}">Eliminar avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Confirmas ELIMINAR el tu avatar"?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'users:avatar_delete' object.id %}" class="btn btn-danger">Eliminar</a>
        </div>
        </div>
      </div>
    </div>
    {% endblock content %}