{% extends 'components/list.html' %}

{% block title_2 %}Listado de reseñas{% endblock %}

{% block search %}
    <!-- Sirve para buscar reseñas. Se pasa a la variable consult de la vista. -->
    <div class="py-lg-4">
        <form action="{% url 'reviews:review_list' %}" method="get">
            <input name="consult" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}

{% block table_header %}
    <tr>
        <th>Nombre</th>
        <th>Valoración</th>
        <th>Aprobado</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for review in object_list %}
        <tr>
            <td>{{ review.name }}</td>
            <td>
                {% for i in "x"|ljust:review.rating %}
                    ⭐
                {% endfor %}
            </td>
            {% if review.aproved %}
                <td class="text-success"><i class="fa fa-check"></i></td>
            {% else %}
                <td class="text-danger"><i class="fa fa-times"></i></td>
            {% endif %}
       
            <td>
                <a href="{% url 'reviews:review_detail' review.id %}" class="btn btn-primary">Detalle</a>
            </td>
            <td>
                <a href="{% url 'reviews:review_update' review.id %}" class="btn btn-success">Aprobar</a>
            </td>
            <td>
                <a href="{% url 'reviews:review_delete' review.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}