{% extends 'components/list.html' %}

{% block title_2 %}Listado de comentarios{% endblock %}

{% block search %}
    <!-- Sirve para buscar reseñas. Se pasa a la variable consult de la vista. -->
    <div class="py-lg-4 py-3">
        <form action="{% url 'reviews:review_list' %}" method="get">
            <input name="consult" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}

{% block table_header %}
    <tr>
        <th>Nombre</th>
        <th>Valoración</th>
        <th>Aprobado</th>
        <th></th>
        <th></th>
        <th></th>
        
    </tr>
{% endblock table_header %}
     
{% block table_body %}
    {% for review in object_list %}
        <tr>
            <td>{{ review.name }}</td>
            <td>
                {% for i in "x"|ljust:review.rating %}
                    ⭐
                {% endfor %}
            </td>
            {% if review.aproved %}
                <td class="text-success"><i class="fa fa-check"></i></td>
            {% else %}
                <td class="text-danger"><i class="fa fa-times"></i></td>
            {% endif %}
       
            <td>
                <a href="{% url 'reviews:review_detail' review.id %}" class="btn btn-info">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'reviews:review_update' review.id %}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal{{ review.id }}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'reviews:review_delete' review.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ review.id }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>

        <!-- Modal confirm update -->
        <div class="modal fade" id="updateModal{{ review.id }}" tabindex="-1" aria-labelledby="updateModalLabel{{ review.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="updateModalLabel{{ review.id }}">Marcar comentario</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if review.aproved %}
                    ¿Confirmas marcar como NO APROBADO?
                    {% else %}
                        ¿Confirmas marcar como APROBADO?
                    {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    {% if review.aproved %}
                        <a href="{% url 'reviews:review_update' review.id %}" class="btn btn-danger">Aceptar</a>
                    {% else %}
                        <a href="{% url 'reviews:review_update' review.id %}" class="btn btn-success">Aceptar</a>
                    {% endif %}
              </div>
              </div>
            </div>
        </div>
        <!-- Modal confirm delete -->
        <div class="modal fade" id="deleteModal{{ review.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ review.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel{{ review.id }}">Eliminar comentario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ¿Confirmas ELIMINAR el comentario de "{{ review.name }}"?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'reviews:review_delete' review.id %}" class="btn btn-danger">Eliminar</a>
            </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock table_body %}

{% block pagination %}
  
    {% url 'portfolio:management' as url %}
    {% include 'components/index_back.html' with link=url %}    
{% endblock pagination %}